<!DOCTYPE html>
<html>
<head>
    <title>Unheard</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/app.js"></script>
</head>
<body>
		<div id="app">{{{body}}}</div>
		<div id="app-modal"></div>
</body>
</html>